<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/admin")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Alcostore", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                @*@Html.Partial("_LoginPartial")*@
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:void(0)">Hello, Admin @User.Identity.Name !</a></li>
                    <li>@Html.ActionLink("LogOut", "LogOff", "Account", new { area = "" }, new { @class = "pull-right" })</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            <div class="col-xs-12 menu">
                <ul>
                    <li>@Html.ActionLink("Admin page", "Index", "Admin", new { area = "Admin" }, new { @class = "" })</li>
                    <li>@Html.ActionLink("Categories", "Index", "Category", new { area = "Admin" }, new { @class = "" })</li>
                    <li>@Html.ActionLink("Products", "Index", "Product", new { area = "Admin" }, new { @class = "" })</li>
                    <li>@Html.ActionLink("Orders", "Index", "Order", new { area = "Admin" }, new { @class = "" })</li>
                </ul>
            </div>
            <div class="col-xs-12 main">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    
    @RenderSection("scripts", required: false)
</body>
</html>